.ticket-form {
  margin-top: 15px;
  border-radius: 10px;
  background-image: linear-gradient(silver, lightslategrey, silver);
}

.ticket-display {
  border-radius: 8px;
  border-style: double;
  margin: 5px 25px;

}

#form-stage-two, #reset-button {
  display: none;
}
